<h1> Список курсов </h1>

<ul>
  <li> Артикул: CS111 </li>
  <li> Название: Как правильно создать курс</li>
  <li> Описание: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat quae quaerat quia tempora.  </li>
  </ul>

<ul>
  <li> Артикул: CS222 </li>
  <li> Название: Lorem ipsum dolor sit amet.</li>
  <li> Описание: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat quae quaerat quia tempora.  </li>
</ul>
