<div class="row">
  <div class="col s12 ">
    <h3 class="center-align"> Список курсов</h3>


    <div class="row">

      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Артикул: CS111: Как правильно создать курс </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, asperiores beatae distinctio dolore
              doloribus ducimus ea harum in laudantium necessitatibus nesciunt nisi nobis numquam obcaecati optio
              quaerat quam sunt voluptatum?</p>
          </div>
          <div class="card-action">
            <a href="#">Развернуть</a>
            <a href="#">Подробнее</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Артикул: CS111: Как правильно создать курс </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, asperiores beatae distinctio dolore
              doloribus ducimus ea harum in laudantium necessitatibus nesciunt nisi nobis numquam obcaecati optio
              quaerat quam sunt voluptatum?</p>
          </div>
          <div class="card-action">
            <a href="#">Развернуть</a>
            <a href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

