//@import "materialize";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.sign-up-form{
  padding-top: 30px;
}

#welcome_back {
  background-image: asset-url('background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  color: #fff;
  font-size: 30px;
  font-stretch: expanded;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}