<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ТехУнивер</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut autem
          dolore expedita laudantium quia repellat reprehenderit rerum sunt tempore.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Дополнительные материалы</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Помощь</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">О Нас</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020
      <a class="grey-text text-lighten-4 right" href="#!">Соглашение</a>
    </div>
  </div>
</footer>